.container1 {
      height: 500px;
       width: 1100px;
      background-color: #ffffff;
   margin-left: 300px;
 padding-top: 50px;
      margin-top:50px;

}
.container2{
      height: 180px;
      width: 1000px;
      border-bottom: 2px solid #e0dcdc;
      margin-left: 50px;
}
.imgZ>img{
      margin-left: 100px;
      float: left;
      border-radius: 50%;
      width: 120px;
      height: 120px;
      border: 2px solid rgb(255, 0, 0);
      padding: 10px;

}
.left{
      float: left;
      margin-left: 20px;
      margin-top:10px;

}
.left>div:first-child{
      font-size: 30px;
}

.left>div:nth-child(2){
      color: red;
      font-size: 14px;
      margin-top: 20px;
}
.right{
      margin-left: 200px;
      margin-top: 20px;
      float: left;
      font-weight: lighter;
}
.right>div{
      margin-bottom: 20px;
}
.order{
      padding-top: 20px;
      float: left;
}
.order>div{
      float: left;
}
.order>div:first-child{
      margin-left: 100px;
      padding-right: 30px;
}
.order>div:nth-child(2){

      margin-top: 25px;
      font-size: 20px;
      font-weight: lighter;
}
.order>div:nth-child(3){
      float: none;
      font-size: 13px;
      font-weight: lighter;
}
.order>div>a{
      color: red;
}